<%- include('../partials/header') %>

  <body>
    <h1>
      <%= title %>
    </h1>
    <br>
    <br>
    <br>

    <% if (teams) { %>
      <% teams.forEach(function(t) { %>

        <h2>
          <%= t.name %>
        </h2>
        <a href="/teams/<%= t._id %>" class="btn btn-info" role="button" >Details</a>
        <% t.players.forEach(function(p) { %>
          <table class="table table-striped">
          <thead>
            <tr>

              <th scope="col">Name</th>
              <th scope="col">Team</th>
              <th scope="col">Position</th>
              <th scope="col">Game Date</th>
              <th scope="col">Opponent</th>
              <th scope="col">Points</th>
              <th scope=rs"col">Assists</th>
              <th scope="col">Minutes</th>
              <th scope="col">Fouls</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <%= p.statArray[0].data.player.first_name%>
                  <%= p.statArray[0].data.player.last_name %>
              </th>
              <td>
                <%= p.statArray[0].data.team.full_name %>
              </td>
              <td>
                <%= p.statArray[0].data.player.position %>
              </td>
              <td>
                <%= new Date(p.statArray[0].data.game.date).toLocaleDateString() %>
              </td>

              <td>
                <% if(p.statArray[0].data.game.visitor_team_id===p.statArray[0].data.team.id) { %>
                  <%= teams.data[(p.statArray[0].data.game.home_team_id) - 1 ].full_name %>
                    <% } else { %>
                      <%= teams.data[(p.statArray[0].data.game.visitor_team_id) - 1 ].full_name %>
                        <% } %>
              </td>

              <td>
                <%= p.statArray[0].data.pts %>
              </td>
              <td>
                <%= p.statArray[0].data.ast %>
              </td>
              <td>
                <%= p.statArray[0].data.min %>
              </td>
              <td>
                <%= p.statArray[0].data.pf %>
              </td>
            </tr>

            
            <% }) %>

          </tbody>
          </table>

          <% }) %>

            <% } %>

              <form id="add-team-nav" method="GET" action="/teams/new">
                <button type="button" class="btn btn-secondary">Create New Team</button>
              </form>

              <br>
              <br>
              <br>

              <%- include('../partials/footer') %>