<%- include('../partials/header') %>
<br>
<br>
  <body>
    <h1>
      <%= title %>
    </h1>
    <br>
    <br>
    <br>
    <form id="new-team-form" action="/teams" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Team Name</span>
        </div>
        <input type="text" name="name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Player 1</label>
        </div>
        <select name = "players" class="custom-select rounded" id="inputGroupSelect01">
          <option selected>Select...</option>
          <% players.forEach(function (p){ %>
            <option name = "players" value= "<%=p._id%>" > <%= p.first_name %> <%= p.last_name %>  ---- <%=p.team.full_name %> </option>
            <% }) %> 
        </select>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Player 2</label>
        </div>
        <select name = "players" class="custom-select rounded" id="inputGroupSelect01">
          <option selected>Select...</option>
          <% players.forEach(function (p){ %>
            <option name = "players" value="<%=p._id%>"> <%= p.first_name %> <%= p.last_name %>  ---- <%=p.team.full_name %> </option>
            <% }) %> 
        </select>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Player 3</label>
        </div>
        <select name = "players" class="custom-select rounded" id="inputGroupSelect01">
          <option selected>Select...</option>
          <% players.forEach(function (p){ %>
            <option name = "players" value="<%=p._id%>"> <%= p.first_name %> <%= p.last_name %>  ---- <%=p.team.full_name %> </option>
            <% }) %> 
        </select>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Player 4</label>
        </div>
        <select  name = "players"class="custom-select rounded" id="inputGroupSelect01">
          <option selected>Select...</option>
          <% players.forEach(function (p){ %>
            <option name = "players" value="<%=p._id%>"> <%= p.first_name %> <%= p.last_name %>  ---- <%=p.team.full_name %> </option>
            <% }) %> 
        </select>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Player 5</label>
        </div>
        <select name = "players" class="custom-select rounded" id="inputGroupSelect01">
          <option name = "players" selected>Select...</option>
          <% players.forEach(function (p){ %>
            <option value="<%=p._id%>"> <%= p.first_name %> <%= p.last_name %>  ---- <%=p.team.full_name %> </option>
            <% }) %> 
        </select>
      </div>
      <input class = "btn btn-outline-dark" type="submit" value="Draft Team">
    </form>

    <%- include('../partials/footer') %>