<%- include('../partials/header') %>
<br>
<br>
  <body>
    <h1>
      <%= title %>
    </h1>
    <br>
    <br>
    <br>
    
    <% if (!nameSelected) { %>
    <form id="add-team-nav" method="POST" action="/teams/create/">
      <label>Team Name:</label>
      <input name="name">
      <button type="submit" class="btn btn-secondary">Finalize Team Name</button>
    </form>
    <% } %>
      <br>
      <br>

      <% if (nameSelected) { %>
        <br>
        <%= team.name %>
        <br>
        <br>

      <label>Add a Player:</label>
      <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Select a Team
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% nbaTeams.data.forEach(function(n) { %>
            <a class="dropdown-item" href="/teams/new/<%= team.id %>/<%= n.id %>">
              <%=n.full_name %>
            </a>
            <% }); %>
        </div>
      </div>
      <% } %>
<br>
<br>
<br>
<br>
<br>

      <% if (nbaTeamSelected) { %>
      <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Select a Player
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% players.forEach(function(p) { %>
            <a class="dropdown-item" href="/teams/new/<%= team.id %>/<%= p.team_id %>/<%= p.id%>">
              <%=p.first_name %> <%=p.last_name %>
            </a>
            <% }); %>
        </div>
      </div>
    <% } %>
      <br>






    <%- include('../partials/footer') %>